body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: rgb(141, 136, 136);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  background-color: white;
  gap: 4vh;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex > * {
  margin-bottom: 2vh;
}

.flexB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.flexB > * {
  margin-bottom: 4vh;
}
.overlay {
  display: block;
  background-color: rgba(0,0,0, 0.8);
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  transition: 0.2s;
  opacity: 0;
}

.overlayEnabled {
  opacity: 1;
  transition: 0.7s;
  height: 100vh;
  width: 100vw;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

/* @supports not (aspect-ratio: 2/1.5) { 
  
  .mainImg {
    display: inline-block;
    width: 100vw;
    height: 280px;
    background-image: url("./imagesAndIcons/image-hero-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@supports (aspect-ratio: 2/1.5) { 
  .mainImg {
    display: inline-block;
    width: 100vw;
    aspect-ratio: 2/1.5;
    background-image: url("./imagesAndIcons/image-hero-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
} */
.imgContainer {
  width: 100vw;
}
.mainImage {
  content: url("./imagesAndIcons/image-hero-mobile.png");
  /* width: 100vw; */
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 10.3vw;
}
p {
  margin: 0;
  width: 92vw;
  text-align: center;
  font-size: large;
  font-weight: 500;
  color: rgb(141, 136, 136);
}

.linkLearnMore {
  transition: 0.5s;
  font-size: x-large;
  color: whitesmoke;
  border: 2px solid black;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  border-radius: 20px;
}

.linkLearnMore:hover, .linkLearnMore:active {
  background-color: white;
}

.clients {
  width: 92vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clientImg {
  width: 20vw;
}
.nav {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100vh;
  width: 52vw;
  background-color: white;
  z-index: 2;
  padding: 6vmin;
  padding-top: 8vh;
  padding-top: 15vmin;
  transition: 0.5s;
}
.navHidden{
  right: -100vw;
  overflow: hidden;
  transition: 0.5s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

a {
  color: rgb(141, 136, 136);
}
.navLinks  {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-size: 4vmin;
  font-weight: 500;
  /* gap: 3vh; */
  transition: 1s;
}
.navLinks > * {
  margin-bottom: 3vh;
}


.navLinks *:hover {
  color: black;
}

.signIn {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  font-size: inherit;
  font-size: 4vmin;
}

.signIn a {
  color:rgb(141, 136, 136);
  font-weight: 600;
  font-size: inherit;
}

.register {
  font-size: inherit;
  color: rgb(141, 136, 136);
  border: 2px solid rgb(141, 136, 136);
  padding: 2vh;
  font-weight: 600;
  border-radius: 10px;
  width: 90%;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register:hover {
  border: 2px solid black;
}
.closeMenuBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

a:hover {
  color:  black;
}

ul {
  list-style: none;
}

li {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropContent {
  display: none;
  background-color: white;
}
.arrows {
  display: inline-block;
  margin-left: 4px;
  width: 13px;
  height: 9px;
  background-image: url("./imagesAndIcons/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.dropdown:hover .arrows {
  background-image: url("./imagesAndIcons/icon-arrow-up.svg");
  transition: 0.5s;
}
.dropdown:hover .dropContent
{
  display: block;
}
.dropHide {
  display: block;
}

/* //////////////////////////////////////////////////////// */

@media only screen and (min-width: 768px) {
  .closeMenuBtn, .navBtn {
    display: none;
  }
  .navBar {
    position: fixed;
    top: 5px;
    display: flex;
    width: 95vw;
    justify-content: space-between;
  }
  .nav {
    position: static;
    min-height: 5vh;
    display: flex;
    width: 85%;
    right: 0;
    top: 0;
    padding: 0vmin;
    padding-top: 0vmin;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  100vw;
    margin-top: 20vh;
  }
  .flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 70vh;
    margin-top: 10vh;
  }
.flexB {
  flex-direction: column;
  justify-content: flex-end;
  gap: 10%;
  align-items: flex-start;
  height: 100%;
  width:  50%;
  text-align: left;
}
.flexB > * {
  margin: 0;
}
  .mainImg {
    /* display: inline-block; */
    /* height: 100%; */
    width: 0%;
    /* background-image: url("./imagesAndIcons/image-hero-desktop.png"); */
    /* background-color: red; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
  }

  .imgContainer {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }
   .imgContainer > img {
    content: url("./imagesAndIcons/image-hero-desktop.png");
    max-width: 100%;
    object-fit: contain;
    display: block;
  }
  .navLinks {
    flex-direction: row;
    align-items: center;
    gap: 4%;
    width: 100%;
  }
  .signIn a{
    font-size: 15px;
  }
  .signIn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    font-size: inherit;
    font-size: 15px;
  }
  .navLinks a {
    font-size: 15px;
  }
  .navFlex {
    display: flex;
    width: 100%;
  }
  .dropdown {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  .dropContent {
    position: fixed;
    top: 6px;
    border-radius: 0.5rem;
    box-shadow: -1px 0px 31px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 0px 31px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 31px -9px rgba(0,0,0,0.75);
  }
  .signIn {
    flex-direction: row;
    margin-left: 0px;
    margin-right: 0;
  }
  .signIn {
    display: flex;
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    font-size: inherit;
    font-size: 4vmin;
  }
  .clients {
    width: 20vw;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .clientImg {
    width: 5vw;
  }
  h1 {
    margin: 0;
    width: initial;
    font-size: 500%;
    line-height: 80%;
  }
  p {
    text-align: left;
    width: initial;
    font-size: large;
    font-weight: 500;
    color: rgb(141, 136, 136);
  }
  ul {
    padding: 20px;
  }  
  .register{
    padding: 10px;
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

